<app-loading *ngIf="!(feed$ | async)"></app-loading>
<app-error-message *ngIf="errors$ | async"> </app-error-message>

<ng-container *ngIf="feed$ | async as feed">
  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <div class="info">
        <a class="author" [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date"> {{ article.createdAt }} </span>
      </div>
      <div class="pull-xs-right">
        <button class="btn btn-sm btn-primary">
          <i class="ion-heart"></i> 3054
        </button>
      </div>
    </div>
    <!-- </app-article-meta> -->

    <a class="preview-link" [routerLink]="['/profiles', article.slug]">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more...</span>
      <app-tag-list [tags]="article.tagList"> </app-tag-list>
      <!-- <ul class="tag-list">
        <li class="tag-default tag-pill tag-outline">implementations</li> 
       </ul> -->
    </a>
  </div>
  <app-pagination
    [total]="feed.articlesCount!"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage">
  </app-pagination>
</ng-container>
